<body>
  <div *ngFor="let section of cvSections; let i = index">
    <h1>
      <span class="company">{{ section.company }}</span><span class="dates">{{ section.dates }}</span>
    </h1>
    <span class="description">{{ section.description }}</span>
    <li>Responsabilities: </li>
    <div *ngFor="let resp of section.listResponsabilities; let j = index">
      <li class = "responsability">{{resp.text}}</li>
    </div>
    <li>Technologies:</li>
    <div *ngFor="let tech of section.listTechnologies; let k = index">
      <li class = "technologies">{{tech.text}}</li>
    </div>
  </div>

</body>
